body{
    font-family: system-ui,  sans-serif;
    font-size: 1rem;
    line-height: 1.7;
    color: #161616;
    background-color: #f3f3f3;

    min-block-size: 100vh;
    min-block-size: 100dvh;
    display: grid;
    grid-template-columns: 5rem 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    'sidebar header'
    'sidebar main'
    'sidebar footer';

    transition: grid-template-columns 0.5s ease;
}
header {
    padding-left: 1rem;
    background-color: white;
}

body.sb-expand {
    grid-template-columns: 12.5rem 1fr;
}

.dashboard-header {
    grid-area: header;
    background-color: #fff;
    padding: 1.25rem;

}

.dashboard-footer {
    grid-area: footer;
    background-color: #fff;
    padding: 1.25rem;

}

.dashboard-main {
    grid-area: main;
    padding: 1.25rem;

    display: grid;
    gap: 1rem;

}

@media (min-width: 768px) {
    .dashboard-main {
        grid-template-columns: repeat (4, 1fr);
    }
}

.card {
    padding: 1rem;
    min-block-size: 7rem;
    background-color: #fff;
    border-radius: 0.5rem;
}

.card-1 {
    background-image: 
    linear-gradient(
        62deg,
        #fbab7e 0%,
        #f7ce68 100%
    );
}

.dashboard-sidebar {
    position: relative;
    grid-area: sidebar;
    color: #fff;
    background-color: #1d1d29;

}

.dashboard-sidebar button {
    position: absolute;
    inset: 4.5rem -0.75rem auto auto;
    width: 1.5rem;
    aspect-ratio: 1;
    background-color: #fff;
    border: transparent;
    border-radius: 50%;
    cursor: pointer;
}

.logo {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    line-height: 3rem;
}
