p {
    color: blue;
}
.container {
    border: 2px solid #1b1b19;
    display: flex;
    justify-content: flex-end; /*menyesuaikan box navigation disini*/
}
.container > div {
    padding: 10px;
    text-align: center;
    font-size: 14sp;
    color: white;
    border: 1px solid;
    background-color: rgb(75, 25, 212);
}