/* style.css */
.container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
  }
.nav-container {
    border: 2px solid #1b1b19;
    display: flex;
    padding: 8px;
    justify-content: right; /*menyesuaikan box navigation disini*/
    text-align: center;
    font-size: 16px;
    color: black;
    /*border: 1px solid;*/
    border-radius: 8px;
    background-color: rgb(247, 247, 247);
}
.garbage-icon {
    width: 20px;
    height: 20px;
  }
.nav-icon {
    width: 41px;
    height: 42px;
    margin-right: auto;
    border-radius: 32px;
}  
.form-container, .table-container {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  h2 {
    text-align: center;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  label {
    display: inline-block;
    width: 120px;
  }
.form-group {
    display: flex;
    align-items: flex-start;
}
  
  /* Responsivitas */
/*  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  }